<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=" http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="author" content="Surafel T. Mamo">
        <link rel="icon" href="favicon.ico">
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
        <title>Student Registration System</title>
    </head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/eregistrar"><h1>Student Registration System</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                <a class="nav-link" href="/registerStudent">Register Student</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                <a class="nav-link" href="/listStudents">Browse Students</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <div>
                <form class="form-inline my-2 my-lg-0" action="/searchStudent" method="get">
                    <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                        <input type="text" class="form-control" id="studentName" name="studentName"  placeholder="Enter Student Name">
                    </li>
                    <button id="btnSubmit" class="btn btn-secondary">Search</button>
                </form>
            </div>
        </ul>
    </div>
</nav>

<p>&nbsp;</p>
<div class="container">
    <!--Thymeleaf placeholder for the page Content-->
    <th:block layout:fragment="content"></th:block>
    <!--End placeholder-->
</div>
<!--================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>