<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="Surafel T. Mamo">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
    <title>Student Registration System</title>
</head>
<body>

<th:block layout:fragment="content">
<!--end of Navigation bar-->
<!-- Page Begins-->
<div style="padding-top:1em;" class="container">
    <div style="margin-bottom: 1em;">
        <span style="font-size: 2em; color: #32a5e7;">Edit Student with Student Number: [[${student.studentNumber}]]</span>
    </div>
</div>


<div class="container">
    <form  id="updateStudentForm" method="post" action="/updateStudent" th:object="${student}">
        <fieldset>
            <input class="form-control" id="studentId" name="studentId" th:field="*{studentId}" type="hidden"/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="studentNumber">Student Number</label>
                        <span th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"
                              class="alert alert-danger"></span>
                        <input id="studentNumber" name="studentNumber" type="text" class="form-control"
                               th:value="*{studentNumber}" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                              class="alert alert-danger"></span>
                        <input id="firstName" name="firstName" type="text" class="form-control" th:field="*{firstName}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="middleName">Middle Name</label>
                        <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"
                              class="alert alert-danger"></span>
                        <input id="middleName" name="middleName" type="text" class="form-control" th:field="*{middleName}">
                        <!--                               aria-describedby="overdueFeeHelp" placeholder="0.00"-->
                        <!--                               pattern="^[+-]?[0-9]{1,3}(?:,?[0-9]{3})*(?:\.[0-9]{2})?$"-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">Last Name</label>
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                              class="alert alert-danger"></span>
                        <input id="lastName" name="lastName" type="text" class="form-control" th:field="*{lastName}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cgpa">Commulative GPA</label>
                        <span th:if="${#fields.hasErrors('cgpa')}" th:errors="*{cgpa}"
                              class="alert alert-danger"></span>
                        <input id="cgpa" name="cgpa" type="text" class="form-control" th:field="*{cgpa}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="enrollmentDate">Enrollment Date</label>
                        <span th:if="${#fields.hasErrors('enrollmentDate')}" th:errors="*{enrollmentDate}"
                              class="alert alert-danger"></span>
                        <input id="enrollmentDate" name="enrollmentDate" type="date" class="form-control"
                               th:value="*{enrollmentDate}">
                    </div>
                </div>
            </div>
            <!--                        <div class="custom-control custom-radio">-->
            <!--                            <input type="radio" class="custom-control-input" id="isInternational" name="groupOfDefaultRadios">-->
            <!--                            <label class="custom-control-label" for="isInternational" th:value="true">International</label>-->
            <!--                        </div>-->

            <!--                        &lt;!&ndash; Group of default radios - option 2 &ndash;&gt;-->
            <!--                        <div class="custom-control custom-radio">-->
            <!--                            <input type="radio" class="custom-control-input" id="isInternational" name="groupOfDefaultRadios">-->
            <!--                            <label class="custom-control-label" for="isInternational" th:value="true">Not International</label>-->
            <!--                        </div>-->

            <!--            <div class = "radio">-->
            <!--                <label>-->
            <!--                    <input type = "radio" name = "optionsRadios" id = "isInternational" th:checked="${isInternational} > International-->
            <!--                </label>-->
            <!--            </div>-->
            <div class = "radio">
                <!--                <label>-->
                <!--                    <input type = "radio" name = "optionsRadios" id = "isInternational" th:checked="${isInternational} >-->
                <!--                    Not International-->
                <!--                </label>-->
            </div>

            <div style="float:left;">
                <a href="/listStudents" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                <button id="btnSubmit" type="submit" class="btn btn-outline-success">Update Student</button>
            </div>
        </fieldset>
    </form>
</div>

</th:block>


</body>
</html>

</body>
</html>